In [19]:
import pandas as pd
import numpy as np
import pickle
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import warnings
from sklearn.preprocessing import LabelEncoder
from sklearn import metrics
from sklearn.preprocessing import MinMaxScaler

df = pd.read_excel("C:/Users/Yash/Downloads/Zomato_Data.xlsx")

In [20]:
df.tail()

,Restaurant_Name,Index,Rating,Price_For_One,Cuisine,Location,Delivery_Review_Number,Link
725,Food King,726,4.1,100,Chinese,Richmond Road,53,https://www.zomato.com//bangalore/hyderabad-bi...
726,Belgian Waffle Factory,727,4.0,100,Desserts,Kalyan Nagar,955,https://www.zomato.com//bangalore/call-me-chow...
727,Adiga's,728,4.2,100,South Indian,Malleshwaram,321,https://www.zomato.com//bangalore/third-wave-c...
728,Rajanna Military Hotel,729,3.8,100,Andhra,Ulsoor,571,https://www.zomato.com//bangalore/namaste-1-ul...
729,Gokul Veg,730,3.4,100,North Indian,Jayanagar,701,https://www.zomato.com//bangalore/savoury-rest...

In [13]:
Cuisine = "Desserts"
Preferred_Location = "Residency Road"
Preferred_Price_For_1 = 100

In [18]:
a = df[(df['Location'] == Preferred_Location)]
Cuis = a[a['Rating'] == a['Rating'].max()]["Cuisine"].to_string().split()[1:]
' '.join(Cuis)

'Italian'

In [21]:
z = pd.DataFrame({"Index" : [0], "Cuisine" : Cuisine, "Location" : Location,"Price_For_One":Preferred_Price_For_1})
df = pd.concat([df,z])

In [22]:
lst = list(df["Location"].unique())

In [24]:
dict1 = {}
for i in range(len(lst)):
    dict1[lst[i]] = i

In [25]:
dict1

{'St. Marks Road': 0,
 'Frazer Town': 1,
 'Shivajinagar': 2,
 'City Market': 3,
 'Koramangala': 4,
 'Church Street': 5,
 'Lavelle Road': 6,
 'Shanti Nagar': 7,
 'Brigade Road': 8,
 'MG Road': 9,
 'Commercial Street': 10,
 'Residency Road': 11,
 'Basavanagudi': 12,
 'Mantri Square': 13,
 'Richmond Road': 14,
 'Malleshwaram': 15,
 'Indiranagar': 16,
 'Ulsoor': 17,
 'Garuda Mall': 18,
 'Jayanagar': 19,
 'Richmond Town': 20,
 'UB City': 21,
 'Vasanth Nagar': 22,
 'Wilson Garden': 23,
 'Cunningham Road': 24,
 'Seshadripuram': 25,
 'BTM': 26,
 'Rajajinagar': 27,
 'Domlur': 28,
 'Majestic': 29,
 'Sadashiv Nagar': 30,
 'Old Madras Road': 31,
 'Hosur Road': 32,
 'Lido Mall': 33,
 'Ejipura': 34,
 'Langford Town': 35,
 'Forum Rex Walk': 36,
 'Building 105': 37,
 'RT Nagar': 38,
 '1 Sobha': 39,
 'Jatti Building': 40,
 'Basaveshwara Nagar': 41,
 'Nexus': 42,
 'Race Course Road': 43,
 'Old Airport Road': 44,
 'Infantry Road': 45,
 'Prestige Trade Tower': 46,
 'Thippasandra': 47,
 'Banashankari': 48,
 'ITC Gardenia': 49,
 'Jeevan Bhima Nagar': 50,
 'Hotel Southern Star': 51,
 'Global Village': 52,
 'Nagawara': 53,
 'BluPetal Hotel': 54,
 'Mysore Road': 55,
 'Magadi Road': 56,
 'CV Raman Nagar': 57,
 'Vijay Nagar': 58,
 'Sigma Mall': 59,
 'Kammanahalli': 60,
 'Kalyan Nagar': 61}

In [23]:
lst

['St. Marks Road',
 'Frazer Town',
 'Shivajinagar',
 'City Market',
 'Koramangala',
 'Church Street',
 'Lavelle Road',
 'Shanti Nagar',
 'Brigade Road',
 'MG Road',
 'Commercial Street',
 'Residency Road',
 'Basavanagudi',
 'Mantri Square',
 'Richmond Road',
 'Malleshwaram',
 'Indiranagar',
 'Ulsoor',
 'Garuda Mall',
 'Jayanagar',
 'Richmond Town',
 'UB City',
 'Vasanth Nagar',
 'Wilson Garden',
 'Cunningham Road',
 'Seshadripuram',
 'BTM',
 'Rajajinagar',
 'Domlur',
 'Majestic',
 'Sadashiv Nagar',
 'Old Madras Road',
 'Hosur Road',
 'Lido Mall',
 'Ejipura',
 'Langford Town',
 'Forum Rex Walk',
 'Building 105',
 'RT Nagar',
 '1 Sobha',
 'Jatti Building',
 'Basaveshwara Nagar',
 'Nexus',
 'Race Course Road',
 'Old Airport Road',
 'Infantry Road',
 'Prestige Trade Tower',
 'Thippasandra',
 'Banashankari',
 'ITC Gardenia',
 'Jeevan Bhima Nagar',
 'Hotel Southern Star',
 'Global Village',
 'Nagawara',
 'BluPetal Hotel',
 'Mysore Road',
 'Magadi Road',
 'CV Raman Nagar',
 'Vijay Nagar',
 'Sigma Mall',
 'Kammanahalli',
 'Kalyan Nagar']

In [26]:
dict2 = {}
for i in range(len(lst)):
    dict2[i] = lst[i]

In [27]:
dict2

{0: 'St. Marks Road',
 1: 'Frazer Town',
 2: 'Shivajinagar',
 3: 'City Market',
 4: 'Koramangala',
 5: 'Church Street',
 6: 'Lavelle Road',
 7: 'Shanti Nagar',
 8: 'Brigade Road',
 9: 'MG Road',
 10: 'Commercial Street',
 11: 'Residency Road',
 12: 'Basavanagudi',
 13: 'Mantri Square',
 14: 'Richmond Road',
 15: 'Malleshwaram',
 16: 'Indiranagar',
 17: 'Ulsoor',
 18: 'Garuda Mall',
 19: 'Jayanagar',
 20: 'Richmond Town',
 21: 'UB City',
 22: 'Vasanth Nagar',
 23: 'Wilson Garden',
 24: 'Cunningham Road',
 25: 'Seshadripuram',
 26: 'BTM',
 27: 'Rajajinagar',
 28: 'Domlur',
 29: 'Majestic',
 30: 'Sadashiv Nagar',
 31: 'Old Madras Road',
 32: 'Hosur Road',
 33: 'Lido Mall',
 34: 'Ejipura',
 35: 'Langford Town',
 36: 'Forum Rex Walk',
 37: 'Building 105',
 38: 'RT Nagar',
 39: '1 Sobha',
 40: 'Jatti Building',
 41: 'Basaveshwara Nagar',
 42: 'Nexus',
 43: 'Race Course Road',
 44: 'Old Airport Road',
 45: 'Infantry Road',
 46: 'Prestige Trade Tower',
 47: 'Thippasandra',
 48: 'Banashankari',
 49: 'ITC Gardenia',
 50: 'Jeevan Bhima Nagar',
 51: 'Hotel Southern Star',
 52: 'Global Village',
 53: 'Nagawara',
 54: 'BluPetal Hotel',
 55: 'Mysore Road',
 56: 'Magadi Road',
 57: 'CV Raman Nagar',
 58: 'Vijay Nagar',
 59: 'Sigma Mall',
 60: 'Kammanahalli',
 61: 'Kalyan Nagar'}

In [28]:
df["Location"] = df["Location"].apply(lambda x: dict1[x])

In [29]:
df["Location"]

0       0
1       1
2       2
3       0
4       3
       ..
726    61
727    15
728    17
729    19
0      11
Name: Location, Length: 731, dtype: int64

In [30]:
df = df[["Index","Cuisine","Location","Price_For_One"]]

In [31]:
x = df.drop("Location",axis = 1)
y = df["Location"]

In [32]:
le = LabelEncoder()
x["Cuisine"] = le.fit_transform(x["Cuisine"])

In [33]:
x["Cuisine"]

0       8
1       8
2       8
3       8
4       5
       ..
726     7
727    13
728     0
729    12
0       7
Name: Cuisine, Length: 731, dtype: int32

In [34]:
sc = MinMaxScaler()

In [35]:
x["Index"] = 0

In [36]:
x[["Index","Cuisine","Price_For_One"]] = sc.fit_transform(x[["Index","Cuisine","Price_For_One"]])

In [37]:
x

     Index  Cuisine  Price_For_One
0      0.0   0.5000            0.3
1      0.0   0.5000            0.3
2      0.0   0.5000            0.3
3      0.0   0.5000            0.3
4      0.0   0.3125            0.3
..     ...      ...            ...
726    0.0   0.4375            0.1
727    0.0   0.8125            0.1
728    0.0   0.0000            0.1
729    0.0   0.7500            0.1
0      0.0   0.4375            0.1

[731 rows x 3 columns]

In [16]:
xtr,xts,ytr,yts = train_test_split(x,y,test_size = 0.3)

In [17]:
model = DecisionTreeClassifier()

In [18]:
model.fit(xtr,ytr)

ypred = model.predict(xts)

In [19]:
ypred

array([26,  4, 16,  4,  0,  4,  4,  0,  7,  4,  0,  4, 25, 15,  7, 16,  1,
       16,  3,  4,  4, 16,  4,  0, 16,  4,  1,  4, 13, 16, 16,  4,  4,  4,
       16,  1,  4,  4,  7, 16, 22, 16,  4, 25, 16,  3, 16, 17, 28,  4, 16,
        4, 16,  4, 16,  4,  4,  7, 16, 27,  4,  4,  1,  4, 26,  7, 16, 16,
        4,  4,  4,  4,  4, 26, 22,  1,  4,  1, 26,  4, 22, 16, 16, 16,  4,
       27,  4, 16, 25, 16, 15,  3, 26,  4,  4, 16,  2,  4,  4,  0, 27,  4,
        2, 16, 25,  2,  4, 16, 26,  1, 27, 25,  4, 16, 27,  1,  4,  7, 15,
       12,  4,  8,  4,  1,  4,  1, 16,  7,  4, 15,  4, 25, 25,  4, 27, 16,
       16,  4,  4,  4,  4,  4, 25, 26,  4, 22,  4, 17,  4,  4,  1,  4, 16,
        2,  8, 27,  0,  4,  4,  4,  1, 16, 16, 16,  1,  1, 25,  7,  4,  1,
        4,  2,  4,  1, 25,  4,  4, 16,  7, 16,  0,  4,  3, 22,  4, 12,  7,
       26,  8,  4, 16,  1, 26, 16,  5,  7,  4, 16,  1,  4, 15, 22, 22, 16,
        1,  7, 16,  7,  7, 17,  9, 16, 16,  4,  4,  4,  4, 16, 15,  0],
      dtype=int64)

In [24]:
dict2[ypred[-1]]

'St. Marks Road'

In [23]:
metrics.accuracy_score(ypred,yts)

0.7272727272727272

In [22]:
pickle.dump(model,open('model.pkl',"wb"))